@tailwind base;
@tailwind components;
@tailwind utilities;

header{
    background-image: url('../images/bg-pattern-intro-desktop.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 60%;
}
.section-2{
    background-image: url('../images/bg-pattern-circles.svg');
    background-size: cover;
    background-position: 0% 70%;
    background-repeat: no-repeat;
}
.top{
    top: -42%;
}
@media (max-width:800px){
    .section-2{
        background-position: 0% 250%;
    }
}